 <div class="d">
 {{master.date | date}}
</div>
 <div>
  <input [(ngModel)]='master.firstname' placeholder="FirstName" color="primary">
  {{master.firstname}}
</div>
<div>
    <input [(ngModel)]='master.lastname' placeholder="LastName" color="primary">
    {{master.lastname}}
</div>
<button mat-raised-button (click)="onSubmit(master)" color="accent">Submit</button>
<p>
{{master| json}}
</p>