<div class="mat-app-background">
<mat-toolbar color="primary" class="mat-elevation-z2">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class='example-icon' [matMenuTriggerFor]="menu" matTooltip="Select a theme"
      aria-label="Button that displays a tooltip when focused or hovered over">
      <i class="fas fa-fill-drip"></i></mat-icon>
    <mat-menu #menu="matMenu">
      <mat-grid-list cols="2" rowHeight="2:1.5">
        <mat-grid-tile> <button mat-icon-button color="primary" (click)="onSetTheme('default-theme')">
            <span style="font-size: 30px; color: #4A148C;">
              <i class="fas fa-circle"></i></span></button></mat-grid-tile>
        <mat-grid-tile> <button mat-icon-button color="primary" (click)="onSetTheme('dark-theme')">
            <span style="font-size: 30px; color: #607D8B;">
              <i class="fas fa-circle"></i></span></button></mat-grid-tile>
        <mat-grid-tile> <button mat-icon-button color="primary" (click)="onSetTheme('light-theme')">
            <span style="font-size: 30px; color: #F50057;">
              <i class="fas fa-circle"></i></span></button></mat-grid-tile>
        <mat-grid-tile> <button mat-icon-button color="primary" (click)="onSetTheme('me-theme')">
            <span style="font-size: 30px; color: #006064;">
              <i class="fas fa-circle"></i></span></button></mat-grid-tile>
      </mat-grid-list>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card  class="card mat-elevation-z6" > 
  <app-fieldinput [com1ref]="com1" #master></app-fieldinput>
 
</mat-card>
<mat-card  class="card mat-elevation-z6" > 
  <app-get-field #com1  [master]="master"></app-get-field>
  </mat-card>
</div>
<router-outlet></router-outlet>