@import '~@angular/material/theming';
@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: Raleway,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);

// Default colors

$my-app-theme-primary: mat-palette($mat-purple, 900);
$my-app-theme-accent: mat-palette($mat-yellow, A700);
$my-app-theme-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-theme-primary, $my-app-theme-accent, $my-app-theme-warn);

@include angular-material-theme($my-app-theme);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-red, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
  @include angular-material-theme($dark-theme);
}
//ME
$me-primary: mat-palette($mat-cyan, 800, 50, 50);
$me-accent:  mat-palette($mat-pink, A400);
$me-warn:    mat-palette($mat-deep-orange);
$me-theme:   mat-dark-theme($me-primary, $me-accent, $me-warn);
.me-theme {
  @include angular-material-theme($me-theme);
}

// Light theme
$light-primary: mat-palette($mat-pink, A400);
$light-accent: mat-palette($mat-indigo, 900);
$light-warn: mat-palette($mat-deep-orange, 200);


$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme)
}