
<div class='col'>
    <table>
            <tr>
              <th mat-sort-header="_id">Id </th>
              <th mat-sort-header="date">Date</th>
              <th mat-sort-header="firstname">FirstName</th>
              <th mat-sort-header="lastname">LastName </th>
             
            </tr>
          
            <tr *ngFor="let item of datagetfield">
              <td style="text-align: center">{{item._id}}</td>
              <td style="text-align: center">{{item.date}}</td>
              <td style="text-align: center">{{item.firstname}}</td>
              <td style="text-align: center">{{item.lastname}}</td>
         
              <td><button mat-raised-button color="accent" (click)="update(master.master,item._id)">Edit</button></td>
              {{datagetfield.value}}
              <td><button mat-raised-button color="warn" (click)="delete(item._id)">Delete</button></td>
            </tr>
          </table>
</div>